<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  
  <tbody>
    <% books.each do |book| %>
    <tr>
      <th>
        <%= link_to user_path(book.user) do %>
          <%= image_tag book.user.get_profile_image("75x75") %>
        <% end %>
      </th>
      <th>
        <%= link_to book_path(book) do %>
          <%= book.title %>
        <% end %>
      </th>
      <th><%= book.body %></th>
      <th><%= book.favorites.count %> Likes</th>
      <th><%= book.book_comments.count %> Comments</th>
    </tr>
    <% end %>
  </tbody>
  
</table>